*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

#video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.video-background {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: -1000;
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
}

#jumbotron {
    display:  flex;
    justify-content:  center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 98vw;
    height: 100vh;
}

#logo-text{
    font-size: 1.5em;
    margin-left: 15px;
}

#jumbotron-text {
    color:  #FFFFFF;
    text-align:  center;
    margin:  auto;
    padding: 2% 5%;
    background-color:  rgba(0, 0, 0, 0.5);
    /*font-size:  20px;*/
    bottom:  30%;
}

.fa-angle-down:before{
    font-size: 40px;
}

#scroll {
    position: relative;
    animation: jump 0.6s infinite linear alternate-reverse;
}

@keyframes jump {
    0% {
        top: 0;
    }
    100% {
        top: 10px;
        opacity: 0.6;
    }
}

#scroll {
    color:  #FFFFFF;
}

#navbar {
    position:  fixed;
    padding:  1%;
    background-color:  rgba(0, 0, 0, 0.5);
    width:  100%;
    top:  0;
    left:  0;
    z-index: 100;
}

#navbar-content {
    display:  flex;
}

#left-side {
    flex:  30%;
    display: flex;
    justify-content: flex-start;
}

#right-side {
    flex:  70%;
}

#logo {
    height:  50px;
    width:  50px;
    border:  2px solid #FFFFFF;
    border-radius:  50px;
}

#logo-section {
    display:  flex;
}

#text-right {
    margin:  auto;
    color:  #FFFFFF;
}

#right-side {
    margin:  auto;
    text-align:  right;
    padding-right:  5%;
    justify-content: flex-end;
}

.nav-link {
    text-decoration:  none;
    color:  #FFFFFF;
    margin:  0;
    border: 2px solid transparent;
    padding:  1% 2%;
    border-radius:  50px;
    transition: box-shadow 0.3s, background 0.5s,color 0.5s ;
}

.nav-link:hover {
    background:  #FFF;
    color:  #000;
    box-shadow:  0 0 20px #FFF;
}
